@import '../../_css/common';

.confirmationPage {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: centre;
  justify-content: centre;
  text-align: centre;

  p{
    margin-top: 16px;
  }
}
